.type-827 img {
  width: 100%;
}
.type-827 p {
  margin: 0 0 60px;
}
.type-827 .camera_wrap img {
  max-width: none;
  background: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  list-style: none;
}
.type-827 .camerarelative {
  height: 448px;
  overflow: hidden;
  position: relative;
}
.type-827 .carousel-inner > .item > img {
  display: block;
  width: 100%;
  height: auto;
}
.type-827 .camera_azure_skin {
  display: block;
  margin-bottom: 63px;
  height: 448px;
}
.type-827 .imgLoaded {
  visibility: visible;
  height: 448px;
  margin-top: 0px;
  position: absolute;
}
.type-827 .camera_wrap {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
@media (min-width: 768px) {
  .type-827 .col-sm-12 {
    float: left;
    width: 100%;
  }
}
.type-827 .carousel-inner {
  border-radius: 0px;
}
.type-827 .carousel-caption {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background: rgba(0,0,0,0.4);
}
.type-827 .swiper-button-prev {
  background: url(../images/camera_skins.png) no-repeat 0 0;
  display: block;
  height: 40px;
  width: 40px;
  left: 0;
  background-position: 0 -240px;
}
.type-827 .swiper-button-next {
  background: url(../images/camera_skins.png) no-repeat -40px 0;
  display: block;
  height: 40px;
  width: 40px;
  right: 0;
  background-position: 0 -240px;
}
.type-827 .swiper-button-prev,
.type-827 .swiper-button-next {
  background: rgba(216,216,216,0.85);
  cursor: pointer;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 40px;
  z-index: 2;
}
.type-827 .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #fceb04e7;
  float: right;
}
.type-827 .swiper-pagination-bullet:hover {
  background: #f9fc0cfa;
}
.type-827 .carousel-indicators {
  width: 2000px;
  left: 0;
  right: 0;
  height: 80px;
  background: #0b0b0b;
  bottom: 0px;
}
.type-827 .timer {
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  height: 3px;
  bottom: 25px;
  background: #fde230;
  z-index: 10;
  bottom: 0;
}
